@model IEnumerable<PhotoSharing.DataAccessLayer.Entities.Photo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Ausgabe der Haribovariable (die aus der ViewBag): @ViewBag.HariboVariable</p>
<p>Ausgabe der Milkavariable mithilfe von ViewData: @ViewData["Milka"]</p>
<p>Ausgabe von Tempdata: @TempData["Scholler"]</p>


<p>Ausgabe von Tempdata: @TempData["Scholler"]</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.ActionLink("Bearbeiten", "Edit", new { id=item.PhotoID }) |
            @Html.ActionLink("DetailAnsicht", "Details", new { id=item.PhotoID }) |
            @Html.ActionLink("Löschen", "Delete", new { id=item.PhotoID })
            @Html.ActionLink("Mein Erfundener Button", "MachWasMethode");
        </td>
    </tr>
}

</table>
